

    <div class="row">
        <div class="col s12">
            <!-- <div class="card"> -->
                <form action="">

                    <!-- tiutlo -->
                    <div class="card-action teal lighten.1 white-text center-align">
                        <h3>Login form</h3>
                    </div>
                    <div class="card-content white">
                        <!-- Seleccon aerolinea -->
                        <table>
                            <thead>
                                <tr>
                                    
                                    <th>Nombre Aerolinea</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                <tr>
                                <td>Avianca</td>
                                <td>$0.87</td>
                                <td><input type="checkbox"></td>
                                </tr>
                                <tr>
                                <td>Copa</td>
                                <td>$3.76</td>
                                <td><input type="checkbox" name="" id=""></td>
                                </tr>
                                <tr>
                                <td>Viva</td>
                                <td>$7.00</td>
                                <td><input type="checkbox"></td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- nombre -->
                        <div class="row">
                            <div class="input-field col s12">
                                <strong>Nombre: <label class="red-text">*</label></strong>
                                <input type="text" placeholder="Ingrese el nombre">
                            </div>
                        </div>

                        <!-- apellidos -->
                        <div class="row">
                            <div class="input-field col s12">
                                <strong>Apellidos: <label class="red-text">*</label></strong>
                                <input type="text" placeholder="Ingrese el apellido">
                            </div>
                        </div>

                        <!-- Identificacion -->
                        <div class="row">
                            <div class="input-field col s12">
                                <strong>Identificacion: <label class="red-text">*</label></strong>
                                <input type="text" placeholder="Ingrese la Identificacion">
                            </div>
                        </div>

                        <!-- edad -->
                        <div class="row">
                            <div class="input-field col s12">
                                <strong>Edad: <label class="red-text">*</label></strong>
                                <input type="text" placeholder="Ingrese la edad">
                            </div>
                        </div>

                        <!-- telefono -->
                        <div class="row">
                            <div class="input-field col s12">
                                <strong>Telefono: <label class="red-text">*</label></strong>
                                <input type="text" placeholder="Ingrese el telefono">
                            </div>
                        </div>

                        <!-- carga -->
                        <div class="row">
                            <div class="input-field col s12">
                                <strong>Carga: <label class="red-text">*</label></strong>
                                <input type="text" placeholder="Ingrese el peso en kg">
                            </div>
                        </div>

                        <!-- Ruta -->
                        <div class="row">
                            <div class="input-field col s12">
                                <strong>Ruta: <label class="red-text">*</label></strong>
                                <input type="text" placeholder="{{Cali}}" disabled>
                            </div>
                        </div>

                        <!-- Fecha -->
                        <div class="row">
                            <div class="input-field col s12">
                                <strong>Seleccione fecha: <label class="red-text">*</label></strong>
                                <select 
                                            required>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option >Lunes</option>
                                            <option >Martes</option>
                                            <option >Miercoles</option>
                                            <option >Jueves</option>
                                            <option >Viernes</option>
                                            <option >Sabado</option>
                                            <option >Domingo</option>
                                        </select>
                            </div>
                        </div>

                        <!-- seleccionar aerolinea -->
                        <div class="row">
                                
                            <div class="input-field col s12">
                                    <strong for="username">Aerolinea: <label class="red-text">*</label></strong>
                                        <select  required>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option >Avianca</option>
                                            <option >Copa</option>
                                            <option >Viva</option>
                                        </select>
                                    </div>

                                
                            </div>

                        <!-- Botones de comprar -->
                        <div class="row">
                            <div class="input-field">
                                <button class="btn-large waves-effect waves-dark right" type="submit">Comprar tiquete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <!-- </div> -->
 
<!-- </div> -->
