<div class="row">


  <div class="header">
    <div class="col s12">
      <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>

      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button"
          class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">

      <!-- cali -->
      <div class="col s4">
        <div class="card">
          <div class="card-image"><a href="#modal1" class="modal-trigger">
              <img src="../../assets/cali.jpg">
            </a>
          </div>
          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <app-ticket></app-ticket>
            </div>
          </div>
          <div class="card-content white">
            <h5>Cali</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>

      <!-- Cartagena -->
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/cartagena.jpg">
          </div>
          <div class="card-content white">
            <h5>Cartagena</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>

      <!-- Bogota -->
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/bogota.jpg">
          </div>
          <div class="card-content white">
            <h5>Bogota</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <!-- Baranquilla -->
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/barranquilla.jpg">
          </div>
          <div class="card-content white">
            <h5>Barranquilla</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>

      <!-- Cauca -->
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <a href="">
              <img src="../../assets/cauca.jpg">

            </a>
          </div>
          <div class="card-content white">
            <h5>Cauca</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>

      <!-- Bucaramanga -->
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/bucaramanga.jpg">
          </div>
          <div class="card-content white">
            <h5>Bucaramanga</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>


    </div>
  </div>




</div>