<div class="navbar-fixed">
  <nav class="white" role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" [routerLink]="['/home']" [routerLinkActive]="['actiado']"
              class="black-text brand-logo left">Logo</a>
          <ul class="right">
              <li><a [routerLink]="['/login']" [routerLinkActive]="['actiado']" class="black-text">Login</a>
              </li>
          </ul>
          <!-- <ul class="right">
              <li><a [routerLink]="['/employee']" [routerLinkActive]="['actiado']" class="black-text">employees</a>
              </li>
          </ul> -->
          <ul class="right">
              <li><a [routerLink]="['/admin']" [routerLinkActive]="['actiado']" class="black-text">Admin pro</a>
              </li>
          </ul>
          <ul class="right">
              <li><a [routerLink]="['/adminaero']" [routerLinkActive]="['actiado']" class="black-text">Admin aerolinea</a>
              </li>
          </ul>
      </div>
  </nav>
</div>

<router-outlet></router-outlet>

<footer class="page-footer teal">
  <div class="footer-copyright">
      <div class="container">
          Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
  </div>
</footer>